<h1>User Info</h1>
<%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback:'no_image.jpg' %>
<p>Name</p>
<%= user.name %>
<p>Introduction</p>
<%= user.introduction %></br>
<i class="fas fa-user-cog"><%= link_to "Edit User", edit_user_path(user) %></i>

<h1>New Book</h1>
<%= form_with model: book, local: true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit "Create Book" %>
<% end %>
