<h1>User Info</h1>
image
<p>Name</p>
<%= user.name %>
<p>Introduction</p>
<%= user.introduction %>
<%= link_to edit_user_path(user) %>

<h1>New Book</h1>
<%= form_with model: book, local: true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit "Create Book" %>
<% end %>
